@import url(../styles/homepage.css);

.form1{
    background-color: #ffffffaa;
}

.area{
	
	height:100px;
	width:100px;
}

/*
.ingredient_formset{
    background-color: #ff0055;
    height:100px;
    width:400px;
    align-content: center;
}
*/