<html>
{% load static %} {% block content %} {% if next %} {% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %} {% endif %}

<head>
    <link rel="icon" href="{% static '/images/fridge.png' %}">
    <!--StyleSheet-->
    <link rel="stylesheet" href="{% static 'styles/loginSignUp(2).css' %}">
</head>

<body class="page">
    <header>
        <a href="{%url 'index'%}">
            <h1 class="header_text" href="{%url 'index'%}">Open Fridge</h1>
        </a>
    </header>
    <div id="container">
        <div class="forms">

            <form method="post" action=".">
                <h1>Sign Up</h1>
                <div class="input-field">
                    {% csrf_token %} {{form.username.label_tag}} {{form.username}} {{form.email.label_tag}} {{form.email}} {{form.password1.label_tag}} {{form.password1}} {{form.password2.label_tag}} {{form.password2}}

                    <input class="button" type="submit" value="Sign Up" />

                    <p></p>
                </div>

            </form>
        </div>
    </div>
</body>


{% endblock %}

</html>
