<!DOCTYPE html>
<html lang="en">
<head>  
  {% block title %}<title>Open Fridge</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static '/styles/homepage.css' %}">
{% block content%}
  <header>
            <nav>
                <ul class="nav_social">
                    <li><a class="FB_icon" href="">FaceBook</a></li>
                    <li><a class="T_icon" href="" >Twitter</a></li>
                    <li><a class="YT_icon" href="">YouTube</a></li>
                </ul>
                <ul class="nav_site">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'register_page'%}">Sign Up</a></li>
                    <li><a href="{% url 'login'%}">Log In</a></li>
                </ul>
                <h1 class="header_text">Open Fridge</h1>
            </nav>
        </header>
{% endblock %}
</html>