

{% block content %}
    <div >
        <h1>{{ recipe.name }}</h1>
        <h2>{{ recipe.username }}</h2>
	<p>{{recipe.steps}}<p>

	{% for ing in recipe_ingredients %}
    	<h3>{{ ing.name }}</h3>
	<p>{{ ing.Measurement }}</p>
	<p>{{ ing.Unit }}</p>
	<p>{{ ing.AdditionalInfo }}</p>

    	{% endfor %}
        
    {% for comment in recipe_comments %}
    	<h3>{{ comment.posterusername }}</h3>
	<p>{{ comment.dateposted }}</p>
    <p>{{ comment.ucomment }}</p>
    {% endfor %}
	

    </div>
{% endblock %}