@import url("../styles/homepage.css");

* {
    margin: 0;
    padding: 0;
}

.page {
    align-content: center;
    height: 100%;
    width: 100%;
}

header a:link {
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
}

.userContent {
    position: absolute;
    align-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#container {
    width: 80%;
    height: 140%;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 15%;
    left: 10%;
    right: 10%;
    border-radius: 8px;
}

#container:before {
    width: 110%;
    height: 110%;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
    filter: blur(10px);
}

.userContent_info{
    position: absolute;
    z-index: 0;
    display: block;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.userContent_statscont{
    height: 200px;
    width: 700px;
    top: -620px;
    left: -560px;
}

.userContent_profilePic{
    left:10px;
    top:10px;
    position:absolute;
    width: 150;
    height: 150;
    border-radius: 50%;
}

.userContent_name{
    position: absolute;
    top: 160px;
    left: 10px;
}

.userContent_stats{
    position: absolute;
    left: 500px;
    top:20px;
    border-bottom: 2px solid #ff0055;

        
}
.userContent_statList{
    list-style-type: none;
    position: absolute;
    left: 500px;
    top: 70px;
}

.userContent_recipes{
    height: 1000px;
    width: 700px;
    top: -360px;
    left: -560px;
}

.userContent_friends{
    left: 210px;
    height: 1260px;
    width: 360px;
    top: -620px;
}


