{% load static %}

<html>
    <head>
        <link rel="icon" href="{% static '/images/fridge.png' %}">
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width", intial-scale = 1>
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome = 1">
        <title>Open Fridge</title>
        <link rel = "stylesheet" href = "{% static '/styles/homepage.css' %}">
        <!--Utilities-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
    </head>


<body onload="load()">
    <div class="page">
        <header>
            <nav>
                <ul class="nav_social">
                    <li><a class="icon" href=""><image id="social_icon" src="{% static '/images/facebook.jpg' %}"></image></a></li>
                    <li><a class="icon" href="" ><image id="social_icon" src="{% static '/images/twitter.jpg'%}"></image></a></li>
                    <li><a class="icon" href=""><image id="social_icon" src="{% static '/images/youtube.jpg' %}"></image></a></li>
                </ul>

                <ul class="nav_site">

                    {%block content%}
                    {% if request.user.is_authenticated %}
                    <li><a class="icon" href="{% url 'logout' %}">Logout</a></li>
                    <li><a class="icon" href="{% url 'recipe_register' %}">Create Recipe</a></li>
                    <li><a class="icon" href="{% url 'accountPage' %}">My Account</a></li>
                    {%else%}
                    <li><a class="icon" href="{% url 'register_page'%}">Sign Up</a></li>
                    <li><a class="icon" href="{% url 'login'%}">Log In</a></li>
                    {% endif %}
                    {%endblock%}
                </ul>
            </nav>
        </header>
        <h1 class="header_text">Open Fridge</h1>
        <h3 class="header_subtitle">Hungy? Find your next grub here!</h3>
        

        <div class="main_search">
            <form action = "{% url 'results' %}" method = 'GET'>
                
                <select class = "search_option" name="option">
                    <option value="title">Recipe</option>
                    <option value="ingredients">Ingredients</option>
                    <option value="user">User</option>
                </select>       
                <input type="text"  name = "search" class="utilBar_search" placeholder="  Search...">
                <button class="utilBar_submitButton button" onclick="submitSearch()">Search</button>
            </form>
        </div>
        
                    <!--- Error message when a recipe isn't found. Used header_subtitle for visibility-->
            <center class = "header_subtitle"> {% if error %}<p><strong>{{error}}</strong></p>{% endif %} </center>
        <!--
        
        <div class="slideshow">
            <div class="slideshow_divider">
                <div class="divider_title">Todays Featured Recipes</div>
            </div>
            <image class="slideshow_image" id="image0" src="{% static 'images/Hawaiian.jpeg' %}">
                <div class="image_title" id="title0">Hawaiian Burger</div>
                <div class="image_desc" id="desc0">Looking for a tropical Vacation? Look no further!</div>
            </image>

            <image class="slideshow_image" id="image1" src="{% static 'images/Lasagna.jpeg' %}">
                <div class="image_title" id="title1">Lasagna</div>
                <div class="image_desc" id="desc1">Better than Granny used to make!</div>
            </image>
            <image class="slideshow_image" id="image2" src="{% static '/images/Enchilada.jpeg' %}">
                <div class="image_title" id="title2">Chicken Enchilada</div>
                <div class="image_desc" id="desc2">Spice up your dinner plans with this entree!</div>
            </image>
            <button class="slideshow_next slideshow_button" onclick="next_prev(1)">
                <i class="slideshow_icon material-icons">navigate_next</i>
            </button>
            <button class="slideshow_prev slideshow_button" onclick="next_prev(-1)">
                <i class="slideshow_icon material-icons">navigate_before</i>
            </button>
        </div>
    -->
    </div>
    <footer>
        &copy; Broken Link 2018
    </footer>
</body>


<script>
    
    function load(){
        next_prev(0);
    }
    
    function openItem(idOfItem){
        document.getElementById(idOfItem).style.display = "block";
    }
    
    function closeItem(idOfItem){
        document.getElementById(idOfItem).style.display = "none";
    }
    
    //for slideshow
    var c = 0;
    function next_prev(np){        
        c = c + np;
        if(c >= 3){
            c = 0;
        }
        if(c < 0){
            c = 2;
        }
        display("slideshow_image","image"+c);
        display("image_title", "title"+c);
        display("image_desc", "desc"+c)
        
    }
    function display(item,id){
        var x = document.getElementsByClassName(item);
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        
        document.getElementById(id).style.display = "block";
    }
    //end slideshow functions    
    
</script>
</html>
